#
# this just stops me uploading stuff on targets I've downloaded from elswhere;
# links should all be in the documentation, eventually...
#
docs/obr
docs/pid
docs/health
docs/nrs
docs/tender
docs/world_bank
model/tmp/*
model/bin/*
model/database/src/*
